<nav class="navbar navbar-expand-lg bg-body-tertiary addExtra">
    <div class="container-fluid" >
      <a class="navbar-brand">Learn-Coding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">

          <li class="nav-item mx-1">
            
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link " routerLink="/courses" >  Courses  </a>
          </li>

          <li class="nav-item mx-1">
            <a class="nav-link " routerLink="/about" >About</a>
          </li>

          <li class="nav-item mx-1">
            <a class="nav-link " routerLink="/admin" >  Admin  </a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>