.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 4vh 0;
    a {
      color: #f8f9fa;
      text-decoration: none;
    }
    a:hover {
      color: #d4d4d4;
    }
    h5 {
      margin-bottom: 2vh;
      font-weight: bold;
    }
    .social-icons {
      a {
        color: #f8f9fa;
        font-size: 1.4rem;
      }
      a:hover {
        color: #3b62a0 !important;
      }
    }
  }
  