<section class="about-us text-center mt-5">
    <div class="container">
      <h2>About Us</h2>
      <p class="lead">
        We are a dedicated team of professionals passionate about delivering
        high-quality education and training.
      </p>
  
      <div class="row mt-5">
        <div class="col-md-4">
          <img
          src="imgs/avatar1.jpg"
            class="rounded-circle"
            alt="Team Member 1"
            width="150"
            height="150"
          />
          <h4>Divyanshu Kumar</h4>
          <p>CEO & Founder</p>
        </div>
  
        <div class="col-md-4">
          <img
            src="imgs/avatar1.jpg"
            class="rounded-circle"
            alt="Team Member 2"
            width="150"
            height="150"
          />
          <h4>Jane Smith</h4>
          <p>Chief Instructor</p>
        </div>
  
        <div class="col-md-4">
          <img
            src="imgs/avatar1.jpg"
            class="rounded-circle"
            alt="Team Member 3"
            width="150"
            height="150"
          />
          <h4>Jenny Winget</h4>
          <p>Technical Lead</p>
        </div>
      </div>
    </div>
  </section>