.card{
    width: 70%;
    margin: auto;
    margin-top: 5vh;
}




.card-header{
    font-size: 1.8rem;
}

.text-danger{
    color: red;
}



.imageDiv{
    img{
        height: 3rem;
        width: 3rem;
    }
}
