img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 80vh;
}



.main-content{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
}


.courses{
    background-color: #effeff;
    padding: 6vh;
}